<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>About</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/styles.css" rel="stylesheet" />
    <!-- JQuery -->
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/load_manager_pages.js"></script>
</head>
<body>
<!-- Responsive navbar-->
<div id="navbar"></div>
<!-- Page Content-->
<div class="m-4 m-lg-5 bg-dark bg-opacity-75 text-white">
    <header class="display-5 fw-bold text-center text-white bg-black">Trip Calculator</header>
    <h1 class="fs-2 text-center text-white bg-black">Welcome to Trip Calculator - the ultimate resource for travelers!</h1>
    <p class="fs-4 text-center text-black bg-white">We offer a convenient and reliable way to plan your next trip, Our goal is to make traveling easier and more affordable for everyone.</p>
    <p class="fs-4 text-center text-black bg-white">We understand the power of travel and how it can create life-long memories, and we make it our mission to help you make the most of your journey. Our team of experts uses the latest technologies to develop efficient solutions to help travelers calculate the cost of a car trip, track budgets, find the best routes,compare prices, and much more.</p>
    <p class="fs-4 text-center text-black bg-white">We provide some useful conversion tools so you can quickly estimate costs.</p>
    <p class="fs-4 text-center text-black bg-white">Our goal is to make sure your trip is as enjoyable and stress-free as possible, Whether you’re planning a weekend getaway or a month-long expedition.</p>
    <p class="fs-4 text-center text-black bg-white">We’re here to make sure your travels are as easy and affordable as possible.</p>
    <h1 class="fs-4 text-center text-white bg-black">Thanks for choosing Trip Calculator for your next adventure!</h1>
</div>
<!-- Footer-->
<div id="footer"></div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="../js/scripts.js"></script>
</body>
</html>