<header class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold">Trip Calculator!</h1>
                <p class="fs-4">Not sure how much you are going to spend on your trip?</p>
                <p class="fs-4">No worries, We will help you out.</p>
                <a class="btn btn-primary btn-lg" href="trip_welcome.html">LET'S GET STARTED</a>
            </div>
        </div>
    </div>
</header>
