<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Contact us</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="" />
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="../css/styles.css" rel="stylesheet" />
  <!-- JQuery -->
  <script type="text/javascript" src="../js/jquery.js"></script>
  <script type="text/javascript" src="../js/load_manager_pages.js"></script>
</head>
<body>
<!-- Responsive navbar-->
<div id="navbar"></div>
<!-- Page Content-->
<section class="position-relative py-4 py-xl-5 bg-dollar">
  <div class="container position-relative">
    <div class="row d-flex justify-content-center bg-dark">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card">
          <div class="card-body text-center p-sm-5 bg-dollar">
            <h2 class="font-weight-hold mb-3 bg-dark text-white">Contact us</h2>
              <div class="mb-3">
                <input id="gas_price-2" class="form-control" type="text" name="gas_price" placeholder="Gas Price">
              </div>
              <div class="mb-3">
                <input id="mpg-2" class="form-control" type="text" name="mpg" placeholder="MPG">
              </div>
              <div class="mb-3">
                <input id="miles-2" class="form-control" type="text" name="miles" placeholder="Miles">
              </div>
              <div class="mb-3">
                <input id="result-2" class="form-control" type="text" name="result-2" placeholder="Result">
              </div>
              <div>
                <button onclick="calculate_trip_cost()" id="btn-2" class="btn btn-primary d-block w-100">Send</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Footer-->
<div id="footer"></div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="../js/scripts.js"></script>
<script src="../js/trip_cost.js">
</script>
</body>
</html>